
.intro-top{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.intro-top .intro-top-item{
    height: 100%;
    flex-grow: 2;
    position: relative;
}
.intro-top .intro-top-item:first-child{
    flex-grow: 1;
}
.intro-top .intro-top-item img{
    height: 100%;
    width: 100%;
}
.intro-top .intro-top-item .mask{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 60px 90px 0px 90px;
}
.intro-top .intro-top-item .mask h2{
    margin: 0;
}
.intro-top .intro-top-item .mask h2:first-child{
    font-family: "Chakra Petch", Sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;

}
.intro-top .intro-top-item .mask h2:nth-child(2)
{
    font-family: "Jura", Sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}
.intro-top .intro-top-item .mask p{
    font-family: "Jura", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.intro-top .intro-top-item .mask .mask-btnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.intro-top .intro-top-item .mask .mask-btnGroup button{
    font-size: 24px;
    font-weight: 700;
    font-family: "Chakra Petch", Sans-serif;
    border: none;
    padding: 10px 24px;
    cursor: pointer;

}

.intro-top .intro-top-item .mask .mask-btnGroup button:nth-child(1){
    background-color: #ffff00;
}
.intro-top .intro-top-item .mask .mask-btnGroup button:nth-child(2){
    background-color: #3B62FF;
    color: white;
}
.intro-top .intro-top-imgMan{
    position: absolute;
    right: 100px;
    bottom: 0;
    height: 90%;
}
.intro-top .intro-top-imgSmoke{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 600px;
}


.intro-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-bottom h2{
    margin: 0;
}
.intro-bottom .intro-bottom-item-left,.intro-bottom-item-right{
    padding: 0 10px;
    position: relative;
}
.intro-bottom .intro-bottom-item-left img,.intro-bottom-item-right img{
    width: 100%;
}
.intro-bottom .mask{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 60px 40px;
    text-align: center;
}
.intro-bottom .intro-bottom-item-left .mask h2:nth-child(1){
    font-family: "Chakra Petch", Sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 56px;
    
}
.intro-bottom .intro-bottom-item-left .mask h2:nth-child(2),h2:nth-child(3){
    font-family: "Jura", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    padding: 20px 0;
}
.intro-bottom .intro-bottom-item-left .mask h2:nth-child(4){
    font-family: "Jura", Sans-serif;
    font-size: 225px;
    font-weight: 700;
}
.intro-bottom .intro-bottom-item-left .mask h2:nth-child(5){
    font-family: "Jura", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}
.intro-bottom .intro-bottom-item-right .mask h2:nth-child(1){
    font-family: "Chakra Petch", Sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 56px;
    
}
.intro-bottom .intro-bottom-item-right .mask h2:nth-child(2),.intro-bottom-item-right .mask h2:nth-child(3){
    font-family: "Jura", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    padding: 20px 0;
}
.intro-bottom .intro-bottom-item-right .mask h2:nth-child(4){
    font-family: "Jura", Sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 44px;
    padding: 20px 0;
}
.intro-bottom .intro-bottom-item-right .mask h2:nth-child(5){
    font-family: "Jura", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 39px;
}

@media screen and (max-width: 1024px) {
    .intro-top{
        height: auto;
    }
    .intro-top{
        flex-direction: column;
    }
    .intro-top .intro-top-item:first-child{
        display: none;
    }
    .intro-top .intro-top-item{
        width: 100vw;
    }
    .intro-top .intro-top-imgMan{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 40%;
    }
    .intro-bottom{
        flex-direction: column;
    }
    .intro-bottom .intro-bottom-item-left,.intro-bottom-item-right{
        padding: 0 10px;
        position: relative;
    }
}